.IndexTaskMasterContainer {
    height: 88vh;
}


/* Modify in TaskMasterChat.css */
.chat-header {
    background-color: #1890ff;
    /* Primary color for header */
    color: white;
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
}

/* Add to Sidebar.css */
.sidebar-room {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-room:hover {
    background-color: #e6f7ff;
}

.LayoutSider-children {
    border-right: 1px solid #f0f0f5;
}


/* Modify in MessageInput.css */
.message-input {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    /* Allow items to wrap */
}

/* Modify in ChatLog.css */
.chat-log {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin: 16px;
}


/* Add to your CSS file for images */
.image-message img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.message-input {
    border: 1px solid #8bd11b;
    border-radius: 20px;
    padding: 4px 20px;
    box-shadow: inset 0 1px 3px #f0f0f0;
}

.message-input input {
    border: none;
    outline: none;
}


.chat-message {
    margin-bottom: 12px;
    padding: 10px 15px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.chat-message::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
}

.user-message {
    border: 1px #8bd11b dotted;
}

.user-message::after {
    left: 100%;
    top: 10px;
    border-left-color: rgb(139, 209, 27);
}

.assistant-message {
    border: 1px #3935a8 dotted;
}

.assistant-message::after {
    right: 100%;
    top: 10px;
    border-right-color: rgb(57, 53, 168);
}