<div id="advanced-settings" class="tab-content hidden">
  <h3 class="text-gray-800 text-lg font-semibold mb-4 mt-2 px-4">
    Filtros Avanzados
  </h3>
  <div class="px-4 py-2 bg-white rounded-lg shadow">
    <div class="mb-4">
      <div class="flex items-center justify-between">
        <label for="underline-toggle" class="text-gray-800 font-medium">
          Subrayado:
        </label>
        <div class="relative">
          <input
            id="underline-toggle"
            type="checkbox"
            class="sr-only"
            name="search_filters___highlight"
          />
          <div class="block bg-gray-300 w-14 h-8 rounded-full"></div>
          <div
            class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"
          ></div>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label for="index-size" class="block text-gray-800 font-medium mb-2">
        Tamaño de Índex:
      </label>
      <div class="relative">
        <select
          id="index-size"
          name="search_filters___indexSize"
          class="block appearance-none w-full bg-gray-50 border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        >
          <option value="0">Minimal</option>
          <option value="120">Compact</option>
          <option value="512">Standard</option>
          <option value="1024">Extended</option>
          <option value="1635">Maximal</option>
        </select>
        <div
          class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
        >
          <svg
            class="fill-current h-4 w-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M5.516 7.548c0.436 0.446 1.043 0.481 1.576 0l4.908-4.908c0.533-0.533 0.497-1.141 0-1.576-0.497-0.498-1.302-0.498-1.8 0L6.293 4.576 5.516 3.797c-0.498-0.498-1.303-0.498-1.801 0-0.497 0.435-0.497 1.041 0 1.576l1.801 1.775zM10.454 12.439c-0.436-0.446-1.043-0.481-1.576 0l-4.908 4.908c0.533 0.533-0.497 1.141 0 1.576 0.497 0.498 1.302 0.498 1.8 0l1.775-1.801 0.777 0.779c0.498 0.498 1.303 0.498 1.801 0 0.497-0.435 0.497-1.041 0-1.576L10.454 12.439z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #4f46e5; /* Indigo color for the active state */
  }
</style>

<script>
  // Toggle switch behavior
  document
    .getElementById("underline-toggle")
    .addEventListener("change", function () {
      this.nextSibling.style.backgroundColor = this.checked
        ? "#4F46E5"
        : "#D1D5DB";
    });
</script>
