<!-- The rest of your HTML content goes here -->

<div id="results" class="tab-content hidden">
  <!-- Static content for results -->
</div>
<!-- Static content for category -->
<%- include('advance_settings') %>
<!--  -->
<%- include('category' ) %>
<!--  -->
<%- include('search_options' ) %>
<!--  -->
