<!-- This is a one_hit.ejs file -->

<div class="OneHit flex flex-col max-w-full  border-y border-blue-500  mt-4 p-y-2 border-y boder">
  <div
    class="Header p-4  justify-center items-start inline-flex"
  >
    <div
      class="w-10 h-5 mr-2 text-neutral-500 text-lg font-bold font-['Montserrat']"
    >
      <%= locals.headerNumber %>.
    </div>
    <div
      class="text-center  text-xs font-bold font-['Montserrat']"
    >
    <%= locals.hit.metadata.header%>
    </div>
  </div>
  <div class="Content">
    
    <div
      class="w-full text-black font-normal font-['Montserrat'] leading-tight tracking-wide"
    >
      
        <%= locals.hit.pageContent %>
        
    </div>

    <div
      class="p-4 w-ful text-gray-600 text-sm font-normal font-['Montserrat'] leading-tight tracking-wide"
      >
      <%= locals.hit.metadata.source%>
    </div>
  </div>

  <div class="InfoFooter grid justify-items-center py-3">
    
    <div class="space-y-2">
      <div class="flex justify-end items-baseline space-x-4 italic">
            
            <a href="ver_ficha_tecnica.cfm?nId_Ficha=403&lang=es" class="text-sm text-gray-600 hover:text-gray-800" id_row="403">
              Ficha técnica
            </a>
            <span>|</span>
            <a href="ver_expediente.cfm?nId_expediente=188&lang=es" class="text-sm text-gray-600 hover:text-gray-800">
              Ver escritos principales del Caso
            </a>
            <div class="flex justify-end space-x-2">
              <a href="https://www.corteidh.or.cr/docs/supervisiones/norin_catriman_21_03_23.pdf" target="_blank" class="text-blue-600 hover:text-blue-800">
                <i class="far fa-xl fa-file-pdf"></i>
              </a>
              <a href="https://www.corteidh.or.cr/docs/supervisiones/norin_catriman_21_03_23.docx" target="_blank" class="text-blue-600 hover:text-blue-800">
                <i class="far fa-xl fa-file-word"></i>
              </a>
            </div>
          </div>
        </div>
    <!-- <img class="Cnn4 w-11 h-12" src="https://via.placeholder.com/45x48" /> -->
  </div>
</div>
