<!--  
  Use this to get type safe variable on.ejs files comments ' Press Ctrl + Shift + P (or Cmd + Shift + P on macOS) to open the Command Palette.
Type "Change Language Mode" and select typescrpt or html

import { locals } from '../../UI_TYPE'

locals.
-->
  
<div id="chat_app_container" >
  <main class="overflow-hidden w-full h-screen relative flex">
    <!-- include('sidebar') -->
    <%- include('sidebar'); -%>
    <!--  -->
    <!-- 'main_content' -->
    <% if (locals.chat_data_info) { %>
    <!--  -->
    <%- include('main_content_chat'); -%>
    <!--  -->
    <% } else { %>
    <!--  -->
    <%- include('main_content_no_chat'); -%>
    <!--  -->
    <% } %>
  </main>
</div>
