<div
  class="dark hidden flex-shrink-0 bg-gray-900 md:flex md:w-[260px] md:flex-col"
>
  <div class="flex h-full min-h-0 flex-col">
    <div
      class="scrollbar-trigger flex h-full w-full flex-1 items-start border-white/20"
    >
      <nav class="flex h-full flex-1 flex-col space-y-1 p-2">
        <%- include('sidebar_chat_list'); -%>
        <!--  -->
        <%- include('sidebar_app_menu'); -%>
      </nav>
    </div>
  </div>
</div>
