<div class="w-full flex-none mt-3 bottom-0 left-0 w-full border-t md:border-t-0 border-white/20 md:border-transparent md:border-transparent md:bg-vert-light-gradient bg-white bg-gray-800 md:!bg-transparent md:bg-vert-dark-gradient pt-2">
  <form id="chatForm" class="relative stretch flex flex-row gap-3 last:mb-2 md:mx-4 md:last:mb-6 mx-auto h-32 ">


    <div id="loadingIndicator" class="hidden absolute z-10 top-0 left-0 right-0 bottom-0  p-4  bg-gray-900 flex justify-center items-center">
      <div class="flex flex-row items-center space-y-2">
        <svg fill='none' class="w-8 h-8 animate-spin text-white" viewBox="0 0 32 32" xmlns='http://www.w3.org/2000/svg'>
          <path clip-rule='evenodd' d='M15.165 8.53a.5.5 0 01-.404.58A7 7 0 1023 16a.5.5 0 011 0 8 8 0 11-9.416-7.874.5.5 0 01.58.404z' fill='currentColor' fill-rule='evenodd' />
        </svg>
        <div class="p text-xl text-white">Loading messages...</div>
      </div>
    </div>
    <!-- Rest of your form goes here -->


    <input type="hidden" name="sessionId" value="<%= locals.chat_data_info.sessionId  %>" />

    <div class="relative flex flex-col h-full flex-1 items-stretch md:flex-col">
      <div class="flex flex-col w-full py-2 flex-grow md:py-3 md:pl-4 relative border border-black/10 bg-white border-gray-900/50 text-white bg-gray-700 rounded-md shadow-[0_0_10px_rgba(0,0,0,0.10)] shadow-[0_0_15px_rgba(0,0,0,0.10)]">
        <textarea id="textarea_input_chat" name="content" tabindex="0" data-id="root" placeholder="Send a message..." class="m-0 w-full resize-none border-0 bg-transparent p-0 pr-7 focus:ring-0 focus-visible:ring-0 bg-transparent pl-2 md:pl-0 overflow-hidden" oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight) + 'px'; this.form.querySelector('button').disabled = !this.value;"></textarea>
        <button type="submit" class="absolute p-1 rounded-md bottom-1.5 md:bottom-2.5 bg-transparent right-1 md:right-2">
          <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1 text-white" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <line x1="22" y1="2" x2="11" y2="13"></line>
            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
          </svg>
        </button>
      </div>
    </div>
  </form>
  <div class="px-3 pt-2 pb-3 text-center text-xs text-black/50 text-white/50 md:px-4 md:pt-3 md:pb-6">
    <span>This Tool may produce inaccurate information about people, places, or
      facts.</span>
  </div>
</div>


<script>
  $(document).ready(function() {
    var text_area = $('#textarea_input_chat');


    $('#chatForm').on('submit', function(event) {
      event.preventDefault();
      var formData = $(this).serialize();


      text_area
        .prop('disabled', true) // Disable the textarea
        .addClass('bg-gray-300'); // Add Tailwind class for disabled appearance

      text_area
        .val('') // Clear the textarea

      var btn_submit = $(this).find('button[type="submit"]');
      btn_submit.prop('disabled', true).addClass('opacity-50 cursor-not-allowed');


      $('#loadingIndicator').show(); // Show loading indicator

      // AJAX request
      $.ajax({
        url: '<%- locals.R.chat__post_new_user_message %>', // URL to submit to
        type: 'POST',
        data: formData,
        success: function(response) {
          // Handle success

          $('#chatlog_container').html(response); // Update chat log
          $('#loadingIndicator').hide(); // Hide loading indicator

          text_area
            .prop('disabled', false) // Re-enable the textarea
            .removeClass('bg-gray-300'); // Remove Tailwind class

          btn_submit.prop('disabled', false).removeClass('opacity-50 cursor-not-allowed');
        },
        error: function() {
          // Handle error
          alert('Error sending message');
          $('#loadingIndicator').hide(); // Hide loading indicator

          text_area
            .prop('disabled', false) // Re-enable the textarea
            .removeClass('bg-gray-300'); // Remove Tailwind class
        }
      });
    });

    // Rest of your script...

    // Auto-resize textarea
    text_area.on('input', function() {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
      $(this.form).find('button[type="submit"]').prop('disabled', !this.value);
    });

    const enter_key = 13;
    text_area.keydown(function(e) {
      if (e.ctrlKey && e.keyCode === enter_key) { // Ctrl key and Enter key
        $('#chatForm').submit();
      }
    });

  });
</script>