<div class="flex h-full max-w-full flex-1 flex-col">
  <%- await include('chat_top_ops'); %>

  <div class="mt-0 flex-col w-full h-full transition-width overflow-y-auto items-stretch bg-gray-100">
    <div class="grow w-full h-5/6 overflow-y-auto">
      <!-- include the chat los messages here -->
      <ul id="chatlog_container" class="flex-col p-2 max-w-5xl w-full mx-auto h-full">

        <%- await include('chat_chatlog_messages'); %>

      </ul>
    </div>
    <%- await include('chat_input_area'); %>
  </div>
</div>