<div class="flex  gap-2 pb-2 text-gray-900 text-sm bg-gray-200">
  <a href="<%- R.chat__get_view_user_chat.replace(':sessionId', locals.chat.id) %>" class="w-full p-3 items-center gap-3 rounded-md hover:bg-blue-300 cursor-pointer break-all hover:pr-4 group bg-white shadow-md">

    <div class="text-gray-900">
      <%= locals.chat.title %>
    </div>

    <!-- Assuming locals.chat.created_at is a valid date string -->
    <div class="text-gray-500 text-base">
      <% 
    // Convert the date string to a Date object
    
    // Helper function to format the date
    function formatDate() {
      if (!locals.chat.created_at) return '';
      const date = new Date(locals.chat.created_at);
      // if the locals.chat.created_at is undefined, return an empty string
      const days = String(date.getDate()).padStart(2, '0');
      const months = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-indexed
      const years = date.getFullYear();
      
      let hours = date.getHours();
      const minutes = String(date.getMinutes()).padStart(2, '0');
      const ampm = hours >= 12 ? 'PM' : 'AM';
      hours = hours % 12;
      hours = hours ? hours : 12; // The hour '0' should be '12'
      
      return `${days}/${months}/${years} ${hours}:${minutes} ${ampm}`;
    }
    
    const formattedDate = formatDate();
    %>
      <%= formattedDate %>
    </div>

    <!-- show the chat id -->
    <div class="text-gray-500 text-xs pt-2">
      <%- locals.chat.id %>
    </div>
  </a>
</div>