<div class="flex flex-col gap-2 pb-2 text-gray-900 text-sm bg-gray-200">
  <a href="<%- R.chat__get_view_user_chat.replace(':sessionId', locals.chat.id) %>" class="flex py-3 px-3 items-center gap-3 relative rounded-md hover:bg-gray-300 cursor-pointer break-all hover:pr-4 group bg-white shadow-md">
    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 text-gray-700" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
    </svg>

    <div class="flex-1 text-ellipsis max-h-5 overflow-hidden break-all relative text-gray-900">
      <%= locals.chat.title %> - <%= locals.chat.id %>
    </div>
  </a>
</div>
