<%- include('new_chat_button') %>
<div
  id="chatapp___session_list_container"
  class="flex-col flex-1 overflow-y-auto border-b border-white/20"
  hx-get="<%- R.chat__get_user_chats.replace(':userId', '649c9e6009a907a8543f46e4') %>"
  hx-trigger="load"
></div>
