<div id="chat_app_container">
  <main class="overflow-hidden w-full h-screen relative flex">
    <!-- include('sidebar') -->
    <%- include('sidebar'); -%>
    <!--  -->
    <!-- 'main_content' -->
    <%- include('main_content'); -%>
  </main>
</div>
