<div id="chat_app_container">
  <main class="overflow-hidden w-full h-screen relative flex">
    <!-- include('sidebar') -->
    <%- include('sidebar'); -%>
    <!--  -->
    <!-- 'main_content' -->
    <% if (locals.chat_data_info) { %> <%- include('main_content_chat'); -%> <%
    } else { %> <%- include('main_content_no_chat'); -%> <% } %>
  </main>
</div>
