<div class="flex max-w-full flex-1 flex-col">
  <%- include('chat_top_ops'); -%>

  <div
    class="relative h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1"
  >
    <div class="flex-1 overflow-y-auto">
      <div class="h-full dark:bg-gray-800">
        <div class="p-10 relative w-full flex flex-col h-full">
          <!-- include the chat los messages here -->
          <ul>
            <%- include('chat_chatlog_messages'); -%>
          </ul>
        </div>
      </div>
    </div>
    <%- include('chat_input_area'); -%>
  </div>
</div>
