<ol>
            
                    <li class="" tipo="item" id="list_4960" id_row="4960">
                        <a href="#_Toc_4960">Toda persona </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4961" id_row="4961">
                        <a href="#_Toc_4961">Tiene libertad de pensamiento y expresión</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4962" id_row="4962">
                        <a href="#_Toc_4962">Dimensión individual</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4963" id_row="4963">
                        <a href="#_Toc_4963">Derecho a utilizar cualquier medio apropiado para difundir el pensamiento y hacerlo llegar al mayor número de destinatarios</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4964" id_row="4964">
						<a href="#_Toc_4964">Expresar su propio pensamiento</a>
                    </li>
                
                    <li class="" tipo="item" id="list_4965" id_row="4965">
						<a href="#_Toc_4965">Derecho y la libertad de buscar, recibir y difundir informaciones e ideas de toda índole</a>
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4966" id_row="4966">
                        <a href="#_Toc_4966">Lengua como garantía de expresión, difusión y transmisión de cultura</a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4967" id_row="4967">
                        <a href="#_Toc_4967">Dimensión social o colectiva</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4968" id_row="4968">
                        <a href="#_Toc_4968">Derecho de todos a “recibir” informaciones e ideas</a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4969" id_row="4969">
                        <a href="#_Toc_4969">Medio para el intercambio de ideas e informaciones y para la comunicación masiva entre los seres humanos</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4970" id_row="4970">
						<a href="#_Toc_4970">Derecho a recibir cualquier información </a>
                    </li>
                
                    <li class="" tipo="item" id="list_4971" id_row="4971">
                        <a href="#_Toc_4971">Derecho a conocer la expresión del pensamiento ajeno </a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4972" id_row="4972">
                        <a href="#_Toc_4972">Libertad de expresión como piedra angular para la existencia de una sociedad democrática</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4973" id_row="4973">
                        <a href="#_Toc_4973">Formación de opinión pública </a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4974" id_row="4974">
						<a href="#_Toc_4974">Conditio sine qua non para el desarrollo pleno de los partidos políticos, sindicatos, sociedades científicas y culturales y en general, quienes deseen influir sobre la colectividad</a>
                    </li>
                
                    <li class="" tipo="item" id="list_4975" id_row="4975">
                        <a href="#_Toc_4975">Pluralismo</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4976" id_row="4976">
                        <a href="#_Toc_4976">Pluralidad de medios </a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4977" id_row="4977">
                        <a href="#_Toc_4977">Pluralidad informativa</a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4978" id_row="4978">
                        <a href="#_Toc_4978">Medios de comunicación social </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4979" id_row="4979">
                        <a href="#_Toc_4979">Abiertos sin discriminación </a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4980" id_row="4980">
                        <a href="#_Toc_4980">Instrumentos de la libertad de expresión </a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4981" id_row="4981">
                        <a href="#_Toc_4981">Prohibición de monopolios u oligopolios</a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4982" id_row="4982">
                        <a href="#_Toc_4982">Protección e independencia de los periodistas </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4983" id_row="4983">
                        <a href="#_Toc_4983">Libertad e independencia de los periodistas</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4984" id_row="4984">
                        <a href="#_Toc_4984">No colegiación obligatoria de periodistas </a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4985" id_row="4985">
                        <a href="#_Toc_4985">Régimen de responsabilidad y ética profesional de los periodistas</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4986" id_row="4986">
                        <a href="#_Toc_4986">Sanciones por infracciones a la ética</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4987" id_row="4987">
						<a href="#_Toc_4987">Deber de constatar en forma razonable los hechos en que fundamenta sus opiniones</a>
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4988" id_row="4988">
                        <a href="#_Toc_4988">El ejercicio del derecho no puede estar sujeto a censura previa sino a responsabilidades ulteriores fijadas por la ley</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4989" id_row="4989">
                        <a href="#_Toc_4989">Prohibición de ser arbitrariamente menoscabado o impedido de manifestar su propio pensamiento</a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4990" id_row="4990">
                        <a href="#_Toc_4990">Existencia de responsabilidades ulteriores por abuso de libertad de expresión</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4991" id_row="4991">
                        <a href="#_Toc_4991">Requisitos para el establecimiento de responsabilidad</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4993" id_row="4993">
                        <a href="#_Toc_4993">Definición expresa y taxativa de las causales por la ley</a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4994" id_row="4994">
                        <a href="#_Toc_4994">Legitimidad de los fines perseguidos para establecerlas </a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4995" id_row="4995">
                        <a href="#_Toc_4995">Causales de responsabilidad necesarias para asegurar los fines </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4996" id_row="4996">
                        <a href="#_Toc_4996">Orientadas a satisfacer un interés público imperativo</a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_4997" id_row="4997">
                        <a href="#_Toc_4997">Cumplir requisitos de idoneidad, necesidad y proporcionalidad</a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_4998" id_row="4998">
                        <a href="#_Toc_4998">Necesarias para asegurar</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_4999" id_row="4999">
                        <a href="#_Toc_4999">Respeto de los derechos o reputación de los demás</a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_5000" id_row="5000">
						<a href="#_Toc_5000">Protección de la seguridad nacional, el orden público, la salud o la moral públicas</a>
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_5011" id_row="5011">
                        <a href="#_Toc_5011">Prohibición de restricciones más allá de lo legítimamente permitido</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_5012" id_row="5012">
                        <a href="#_Toc_5012">Vías o medios indirectos </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_5013" id_row="5013">
                        <a href="#_Toc_5013">Restricciones gubernamentales indirectas</a>
                        
                    </li>
                
                    <li class="" tipo="item" id="list_5014" id_row="5014">
                        <a href="#_Toc_5014">Controles particulares </a>
                        
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_5015" id_row="5015">
                        <a href="#_Toc_5015">Espectáculos públicos </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_5016" id_row="5016">
						<a href="#_Toc_5016">Pueden ser sometidos por la ley a censura previa para la protección moral de la infancia y la adolescencia</a>
                    </li>
                
			</ol>
		
                    </li>
                
                    <li class="" tipo="item" id="list_5017" id_row="5017">
                        <a href="#_Toc_5017">Prohibición por la ley</a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_5018" id_row="5018">
                        <a href="#_Toc_5018">Persecución penal </a>
                        
            <ol>
            
                    <li class="" tipo="item" id="list_5019" id_row="5019">
						<a href="#_Toc_5019">Casos excepcionales </a>
                    </li>
                
                    <li class="" tipo="item" id="list_5020" id_row="5020">
						<a href="#_Toc_5020">Protección de una necesidad social imperiosa </a>
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>
		
                    </li>
                
			</ol>














            <li class="" tipo="item" id="list_4972" id_row="4972">
                        <a name="_Toc_4972"></a>Libertad de expresión como piedra angular para la existencia de una sociedad democrática <br><br> Considera la Corte en el caso Ivcher Bronstein que "[E]l mismo concepto de orden público reclama que, dentro de una sociedad democrática, se garanticen las mayores posibilidades de circulación de noticias, ideas y opiniones, así como el más amplio acceso a la información por parte de la sociedad en su conjunto. La libertad de expresión se inserta en el orden público primario y radical de la democracia, que no es concebible sin el debate libre y sin que la disidencia tenga pleno derecho de manifestarse." <a href="#_ftn_18_5031" id_concepto="5031" class="ftn_link" name="_ftnref_5031">[13]</a>
                            <br><br> Resalta la Corte en el caso Herrera Ulloa que "Sin una efectiva libertad de expresión,&nbsp;[...] la democracia se desvanece, el pluralismo y la tolerancia empiezan a quebrantarse, los mecanismos de control y denuncia ciudadana se empiezan a tornar inoperantes y, en definitiva, se empieza a crear el campo fértil para que sistemas autoritarios se arraiguen en la sociedad." <a href="#_ftn_18_5034" id_concepto="5034" class="ftn_link" name="_ftnref_5034">[14]</a>
                            <br><br> Indica la Corte en el caso Granier y otros (Radio Caracas Televisión) que "La libertad de expresión es una piedra angular en la existencia misma de una sociedad democrática. Es indispensable para la formación de la opinión pública. Es también conditio sine qua non para que los partidos políticos, los sindicatos, las sociedades científicas y culturales, y en general, quienes deseen influir sobre la colectividad puedan desarrollarse plenamente. Es, en fin, condición para que la comunidad, a la hora de ejercer sus opciones, esté suficientemente informada. Por ende, es posible afirmar que una sociedad que no está bien informada no es plenamente libre." <a href="#_ftn_18_5050" id_concepto="5050" class="ftn_link" name="_ftnref_5050">[15]</a>
                            
            <ol>
            
                    <li class="" tipo="item" id="list_4973" id_row="4973">
                        <a name="_Toc_4973"></a>Formación de opinión pública <br><br> Aclara la Corte en el caso Lagos del Campo que "[Son] de interés público aquellas opiniones o informaciones sobre asuntos en los cuales la sociedad tiene un legítimo interés de mantenerse informada, de conocer lo que incide sobre el funcionamiento del Estado, o afecta derechos o intereses generales o le acarrea consecuencias importantes." <a href="#_ftn_18_5060" id_concepto="5060" class="ftn_link" name="_ftnref_5060">[16]</a>
                            
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4974" id_row="4974">
						<a name="_Toc_4974"></a>Conditio sine qua non para el desarrollo pleno de los partidos políticos, sindicatos, sociedades científicas y culturales y en general, quienes deseen influir sobre la colectividad 
						<br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4975" id_row="4975">
                        <a name="_Toc_4975"></a>Pluralismo <br><br> Afirma la Corte en el caso Tristán Donoso que "Dada la importancia de la libertad de expresión en una sociedad democrática, el Estado no sólo debe minimizar las restricciones a la circulación de la información sino también equilibrar, en la mayor medida de lo posible, la participación de las distintas informaciones en el debate público, impulsando el pluralismo informativo. En consecuencia, la equidad debe regir el flujo informativo." <a href="#_ftn_18_5043" id_concepto="5043" class="ftn_link" name="_ftnref_5043">[17]</a>
                            <br><br> Señala la Corte en el caso Palacio Urrutia y otros que "[L]a importancia del pluralismo en el marco del ejercicio del derecho a la libertad de expresión [es] que éste implica la tolerancia y el espíritu de apertura, sin los cuales no existe una sociedad democrática." <a href="#_ftn_18_5068" id_concepto="5068" class="ftn_link" name="_ftnref_5068">[18]</a>
                            
            <ol>
            
                    <li class="" tipo="item" id="list_4976" id_row="4976">
                        <a name="_Toc_4976"></a>Pluralidad de medios <br><br> Resalta la Corte en el caso Palacio Urrutia y otros que "[L]a pluralidad de medios o informativa constituye una efectiva garantía de la libertad de expresión, existiendo un deber del Estado de proteger y garantizar este supuesto, en virtud del artículo 1.1 de la Convención, por medio, tanto de la minimización de restricciones a la información, como por medio de propender por el equilibrio en la participación, al permitir que los medios estén abiertos a todos sin discriminación, puesto que se busca que 'no haya individuos o grupos que, a priori, estén excluidos'." <a href="#_ftn_18_5069" id_concepto="5069" class="ftn_link" name="_ftnref_5069">[19]</a>
                            <br><br> Señala la Corte en el caso Palacio Urrutia y otros que "[E]l Estado debe democratizar el acceso a los diferentes medios de comunicación, garantizar la diversidad y el pluralismo, y promover la existencia de servicios de comunicación tanto comerciales, como públicos y comunitarios. Es deber del Estado no sólo instrumentar medidas adecuadas para impedir o limitar la existencia y formación de monopolios y oligopolios, sino también establecer mecanismos adecuados para su control." <a href="#_ftn_18_5070" id_concepto="5070" class="ftn_link" name="_ftnref_5070">[20]</a>
                            <br><br> Considera la Corte en el caso Palacio Urrutia y otros que "el pluralismo y la diversidad de medios, constituyen requisitos sustanciales para un abierto y libre debate democrático en la sociedad. Ello requiere lo siguiente: A) de parte del Estado, el cumplimiento del deber de respeto y de adoptar decisiones y políticas que garanticen el libre ejercicio de la libertad de expresión y la libertad de opinión de los medios de comunicación. Asimismo, establecer, para la protección del honor de los funcionarios públicos, vías alternativas al proceso penal, [...] y B) de parte de los medios de comunicación, corresponde que aporten al fortalecimiento del sistema democrático y participativo, respetuoso de los derechos humanos, conforme a los principios del Estado Democrático de Derecho (recogidos en la Carta Democrática), en un contexto de medios plurales y diversos sin discriminación ni exclusiones." <a href="#_ftn_18_5073" id_concepto="5073" class="ftn_link" name="_ftnref_5073">[21]</a>
                            
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4977" id_row="4977">
                        <a name="_Toc_4977"></a>Pluralidad informativa <br><br> Señala la Corte en el caso Palacio Urrutia y otros que "[E]n vista de la importancia del pluralismo de medios para la garantía efectiva del derecho a la libertad de expresión, y teniendo en cuenta lo estipulado en el artículo 2 de la Convención [...] los Estados están internacionalmente obligados a establecer leyes y políticas públicas que democraticen su acceso y garanticen el pluralismo de medios o informativo en las distintas aéreas comunicacionales, tales como, por ejemplo, la prensa, radio, y televisión." <a href="#_ftn_18_5071" id_concepto="5071" class="ftn_link" name="_ftnref_5071">[22]</a>
                            
                        <br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4978" id_row="4978">
                        <a name="_Toc_4978"></a>Medios de comunicación social <br><br> Establece la Corte en el caso Ivcher Bronstein que "[E]s fundamental que los periodistas que laboran en dichos medios gocen de la protección y de la independencia necesarias para realizar sus funciones a cabalidad, ya que son ellos los que mantienen informada a la sociedad, requisito indispensable para que ésta goce de una plena libertad." <a href="#_ftn_18_5030" id_concepto="5030" class="ftn_link" name="_ftnref_5030">[23]</a>
                            
            <ol>
            
                    <li class="" tipo="item" id="list_4979" id_row="4979">
                        <a name="_Toc_4979"></a>Abiertos sin discriminación <br><br> Indica la Corte en el caso Granier y otros (Radio Caracas Televisión) que "[L]a libertad de expresión requiere que los medios de comunicación social estén virtualmente abiertos a todos sin discriminación, o, más exactamente, que no haya individuos o grupos que, a priori, estén excluidos del acceso a tales medios, exige igualmente ciertas condiciones respecto de éstos, de manera que, en la práctica, sean verdaderos instrumentos de esa libertad y no vehículos para restringirla. [...] Para ello es indispensable, inter alia, la pluralidad de medios, la prohibición de todo monopolio respecto de ellos, cualquiera sea la forma que pretenda adoptar, y la garantía de protección a la libertad e independencia de los periodistas." <a href="#_ftn_18_5053" id_concepto="5053" class="ftn_link" name="_ftnref_5053">[24]</a>
                            
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4980" id_row="4980">
                        <a name="_Toc_4980"></a>Instrumentos de la libertad de expresión <br><br> Aclara la Corte en el caso Herrera Ulloa que "Los medios de comunicación social juegan un rol esencial como vehículos para el ejercicio de la dimensión social de la libertad de expresión en una sociedad democrática, razón por la cual es indispensable que recojan las más diversas informaciones y opiniones. Los referidos medios, como instrumentos esenciales de la libertad de pensamiento y de expresión, deben ejercer con responsabilidad la función social que desarrollan." <a href="#_ftn_18_5035" id_concepto="5035" class="ftn_link" name="_ftnref_5035">[25]</a>
                            
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4981" id_row="4981">
                        <a name="_Toc_4981"></a>Prohibición de monopolios u oligopolios <br><br> Aclara la Corte en el caso Granier y otros (Radio Caracas Televisión) que "[L]a libertad de expresión se puede ver también afectada sin la intervención directa de la acción estatal. Tal supuesto podría llegar a configurarse, por ejemplo, cuando por efecto de la existencia de monopolios u oligopolios en la propiedad de los medios de comunicación, se establecen en la práctica ‘medios encaminados a impedir la comunicación y la circulación de ideas y opiniones’." <a href="#_ftn_18_5054" id_concepto="5054" class="ftn_link" name="_ftnref_5054">[26]</a>
                            
                        <br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4982" id_row="4982">
                        <a name="_Toc_4982"></a>Protección e independencia de los periodistas <br><br> Indica la Corte en el caso Carvajal Carvajal y otros que "[L]as infracciones al artículo 13 de la Convención Americana van desde la restricción excesiva de la libertad de expresión o su total supresión. Una de las formas más violentas de suprimir el derecho a la libertad de expresión es a través de homicidios contra periodistas y comunicadores sociales. Este tipo de actos de violencia contra periodistas puede incluso tener un impacto negativo en otros periodistas que deben cubrir hechos de esa naturaleza, quienes pueden temer sufrir actos similares de violencia." <a href="#_ftn_18_5061" id_concepto="5061" class="ftn_link" name="_ftnref_5061">[27]</a>
                            <br><br> Señala la Corte en el caso Bedoya Lima y otra que "[E]l ejercicio profesional del periodismo 'no puede ser diferenciado de la libertad de expresión, por el contrario, ambas cosas están evidentemente imbricadas, pues el periodista profesional no es, ni puede ser, otra cosa que una persona que ha decidido ejercer la libertad de expresión de modo continuo, estable y remunerado'." <a href="#_ftn_18_5065" id_concepto="5065" class="ftn_link" name="_ftnref_5065">[28]</a>
                            
            <ol>
            
                    <li class="" tipo="item" id="list_4983" id_row="4983">
                        <a name="_Toc_4983"></a>Libertad e independencia de los periodistas <br><br> Afirma la Corte en el caso Tristán Donoso que "La libertad de expresión es un componente esencial de la libertad de prensa, sin que por ello sean sinónimos o el ejercicio de la primera esté condicionado a la segunda." <a href="#_ftn_18_5044" id_concepto="5044" class="ftn_link" name="_ftnref_5044">[29]</a>
                            <br><br> Aclara la Corte en el caso Granier y otros (Radio Caracas Televisión) que "Los medios de comunicación social tienen derecho a realizar su labor en forma independiente. Presiones directas o indirectas dirigidas a silenciar la labor informativa de los comunicadores sociales son incompatibles con la libertad de expresión." <a href="#_ftn_18_5052" id_concepto="5052" class="ftn_link" name="_ftnref_5052">[30]</a>
                            <br><br> Afirma la Corte en el caso Bedoya Lima y otra que "[P]ara que la prensa pueda desarrollar su rol de control periodístico, debe no solo ser libre de impartir informaciones e ideas de interés público, sino que también debe ser libre para reunir, recolectar y evaluar esas informaciones e ideas." <a href="#_ftn_18_5066" id_concepto="5066" class="ftn_link" name="_ftnref_5066">[31]</a>
                            
            <ol>
            
                    <li class="" tipo="item" id="list_4984" id_row="4984">
                        <a name="_Toc_4984"></a>No colegiación obligatoria de periodistas <br><br> Resalta la Corte en la Opinión Consultiva-05/85 que "[L]a colegiación obligatoria de periodistas, en cuanto impida el acceso de cualquier persona al uso pleno de los medios de comunicación social como vehículo para expresarse o para transmitir información, es incompatible con el artículo 13 de la Convención Americana sobre Derechos Humanos." <a href="#_ftn_18_5076" id_concepto="5076" class="ftn_link" name="_ftnref_5076">[32]</a>
                            
                        <br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>
                
                    <li class="" tipo="item" id="list_4985" id_row="4985">
                        <a name="_Toc_4985"></a>Régimen de responsabilidad y ética profesional de los periodistas <br><br> Aclara la Corte en el caso Herrera Ulloa que "[E]l periodismo es la manifestación primaria y principal de esta libertad y, por esa razón, no puede concebirse meramente como la prestación de un servicio al público a través de la aplicación de los conocimientos o la capacitación adquiridos en la universidad. [...] El ejercicio del periodismo, por tanto, requiere que una persona se involucre responsablemente en actividades que están definidas o encerradas en la libertad de expresión garantizada en la Convención." <a href="#_ftn_18_5036" id_concepto="5036" class="ftn_link" name="_ftnref_5036">[33]</a>
                            
            <ol>
            
                    <li class="" tipo="item" id="list_4986" id_row="4986">
                        <a name="_Toc_4986"></a>Sanciones por infracciones a la ética 
            <ol>
            
                    <li class="" tipo="item" id="list_4987" id_row="4987">
						<a name="_Toc_4987"></a>Deber de constatar en forma razonable los hechos en que fundamenta sus opiniones 
						<br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>
                
			</ol>
		
                        <br><br>
                    </li>