<!-- Nav Icon -->
<div
  class="nav-icon w-24 h-20 p-8 border-b border-cyan-800 flex-col justify-center items-center gap-2 flex"
>
  <!-- Replace 'fa-icon' with your icon -->
  <i class="bi bi-<%= locals.icon %>" fill="currentColor"></i>
  <i class="las la-battery-three-quarters"></i>fds
  <div class="text-center text-xs font-bold h-48"><%= locals.title %></div>
</div>
